.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App .Layout {
  position: relative;
  top: auto;
}

.App .TopBar {
  position: relative;
}

.App .TopBar img {
  width: 30px;
}

.App h1 {
  font-weight: var(--font-weight-normal);
}

h1 span {
  text-transform: none;
}

.App .App__head {
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
  z-index: 2;
}

.App .App__head,
.App .dqpl-main-content {
  width: 100%;
  min-width: 1024px;
}

.App .dqpl-layout {
  overflow-x: auto;
}

.App .App__head h1 {
  text-transform: uppercase;
  margin-left: 10px;
}

.App .dqpl-field-wrap {
  margin-bottom: 0;
}

.App .dqpl-content {
  max-height: calc(100vh - 300px);
}

.Stats {
  border-bottom: 1px solid #ccc;
}

.Stats .confined {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.App .dqpl-layout .dqpl-main-content {
  border: none;
}

.App .dqpl-layout .dqpl-main-content::before {
  content: '';
  position: absolute;
  background-color: transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: 70px;
  left: 9px;
  bottom: 0;
  width: 18px;
}

.App .dqpl-layout .dqpl-main-content:focus::before {
  border-left: 6px solid #fdfdfe;
  border-right: 6px solid #fdfdfe;
  background-color: #283640;
}

.App .dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h2 {
  padding: 10px 24px;
}

.App .Dialog {
  z-index: 11;
}

.ThemeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.RecipesTable {
  margin: 3em auto;
}

.RecipesTable .Table {
  box-shadow: 0 0 6px;
}

.RecipesTable .THead {
  background: #f2f2f2;
  font-weight: bold;
  border-bottom: 3px solid #ccc !important;
  padding: 1.1em 8px;
}

.cauldron--theme-dark .RecipesTable .THead {
  color: var(--table-cell-background-color);
}

.App .Radio__overlay {
  display: flex;
}

footer {
  align-items: center;
  background-color: #283640;
  border-top: 1px solid #5d676f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-top: auto;
}

footer a {
  color: #fff;
  margin: 0 .5em;
  display: inline-block;
}

footer label.Field__label {
  color: #fff;
}

.App .TopBar > ul > li:focus-within:before {
  background-color: transparent;
}

.App .Align--right {
  margin-left: auto;
}

.App .TopBar {
  height: auto;
}

.App .TopBar li {
  border: 0;
}

.App .TopBar li .Icon {
  margin-right: var(--space-smaller);
}